extends /layout/_default-layout

prepend config-block
  - page_name = ''

//- append stylesheet-block

//- append javascript-block

block content-block
  main
    a(rel="ar" href=IMG_DIR + "/tulip.usdz")
      img(src=IMG_DIR + "/tulip_2x.jpg", alt="tulip")
